<!DOCTYPE html>
<html>
<head>
    <title>NewsSense</title>

    <script>

        function toggleInput() {

            const inputType =
                document.querySelector(
                    'input[name="input_type"]:checked'
                ).value;

            if (inputType === "text") {

                document.getElementById("text_input").style.display = "block";

                document.getElementById("url_input").style.display = "none";

            }

            else {

                document.getElementById("text_input").style.display = "none";

                document.getElementById("url_input").style.display = "block";

            }
        }

    </script>

</head>

<body onload="toggleInput()">

    <h1>NewsSense - AI News Analyzer</h1>

    <form action="/analyze" method="POST">

        <h3>Select Input Type</h3>

        <input
            type="radio"
            name="input_type"
            value="text"
            checked
            onclick="toggleInput()"
        >
        Manual Text

        <input
            type="radio"
            name="input_type"
            value="url"
            onclick="toggleInput()"
        >
        News URL

        <br><br>

        <!-- TEXT INPUT -->

        <div id="text_input">

            <textarea
                name="news_text"
                rows="15"
                cols="80"
                placeholder="Paste news article here..."
            ></textarea>

        </div>

        <!-- URL INPUT -->

        <div id="url_input">

            <input
                type="text"
                name="news_url"
                size="80"
                placeholder="Paste article URL here..."
            >

        </div>

        <br><br>

        <button type="submit">
            Analyze News
        </button>

    </form>

</body>
</html>